.token {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    display: inline-block;
}

#selectable-colors {
    margin-top: 50px;
}

[data-selected] {
    background-color: crimson;
}

#player-color-choice-0-0 {
    background-color: lawngreen;
}

#player-color-choice-1-0 {
    background-color: aqua;
}

.player-color-choice-0-0 {
    background-color: black;
}

.player-color-choice-1-0 {
    background-color: blue;
}