.token {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    text-align: center;
}

#selectable-colors {
    margin-top: 50px;
}

[data-selected] {
    background-color: crimson;
}

#player-color-choice-0-0 {
    background-color: lawngreen;
}

#player-color-choice-1-0 {
    background-color: aqua;
}

.player-color-choice-0-0 {
    background-color: black;
}

.player-color-choice-1-0 {
    background-color: blue;
}

.left-side {
    display: inline-block;
    width: 20px;
    text-align: right;
    font-style: italic;
    font-size: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    /* border: 1px solid black; */
}

#guessed-colors {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
    width: 200px;
}

#side {
    width: 50px;
    height: 570px;
    position: relative;
    display: inline-block;
    float: left;
}

#container {
    display: inline-block;
    float: left;
}