<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mastermind</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/game.js" defer></script>
</head>
<body>
    <div id="side"></div>
    <div id="container">
        <div id="guessed-colors">
            <div class="left-side"></div>
            {% for token in range(4) %}
                <div class="token">?</div>
            {% endfor %}
        </div>
        <div id="game-board">

            {% for row in range(10) %}
                <div class="board-row" id="row-{{ 10 - row }}">

                    <div class="left-side" id="left-side-{{ 10 - row }}"><!--<img src="{{ url_for('static', filename='images/Green-Ball-icon.png') }}">-->{{ 10 - row }}</div>
                    {% for token in range(1, 5) %}
                        <div class="board token"
                             id="token-{{ 10 - row }}-{{ token }}"
                             data-row="{{ 10 - row }}"
                             data-token="{{ token }}">
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div id="selectable-colors">

            {% for row in range(2) %}
                <div class="selectable-color-row"
                     id="selectable-color-row-{{ row }}">
                    <div class="left-side"></div>
                    {% for token in range(4) %}
                        <div class="player token"
                             id="player-color-choice-{{ row }}-{{ token }}"
                             data-color="{{ row }}{{ token }}">
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>